@model ArchiveProject2019.Models.DocumentUser

@{
    ViewBag.Title = " تعديل إمكانية الربط ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h3>هل أنت متأكد من عملية    تعديل إمكانية الربط ؟</h3>
<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>






        <dt>
            @Html.DisplayNameFor(model => model.EnableRelate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableRelate)
        </dd>








    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <input title="تعديل إمكانية الربط" type="submit" value="تعديل إمكانية الربط" class="btn btn-success" />
            <button title="إغلاق النافذة" type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
        </div>

    }
</div>
