@model ArchiveProject2019.Models.Field

@{
    ViewBag.Title = "حذف حقل";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h3>هل أنت متاكد من عملية الحذف؟</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Form.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
     

        <dt>
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @switch (Model.Type)
            {




                case "float":
                    @:حقل رقمي

                    break;


                case "date":
                    @:تاريخ

                    break;

                case "text":
                    @:حقل نصي

                    break;
                case "phone":
                    @:رقم هاتف

                    break;
                case "email":
                    @:بريد ألكتروني

                    break;


            }

        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <input type="submit" title="حذف الحقل المحدد" value="حذف الحقل " class="btn btn-danger" />
            <button type="button" title="إغلاق النافذة" class="btn btn-warning" data-dismiss="modal">إغلاق</button>
        </div>


    }
</div>
