@model ArchiveProject2019.Models.Party

@{
    ViewBag.Title = "حذف الجهة المهتمّة";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<h3>هل انت متأكد من عملية الحذف؟</h3>
<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <input type="submit" title="حذف جهة معينة" value="حذف جهة معينة" class="btn btn-danger" />
            <button type="button" title="إغلاق النافذة" class="btn btn-warning" data-dismiss="modal">إغلاق</button>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
