
@model ArchiveProject2019.Models.Form

@{
    ViewBag.Title = "اضاقة نموذج";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
   

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <input type="submit" title="إضافة النموذج" value="اضافة نموذج" class="btn btn-primary" />
            <button type="button"  title="إغلاق النافذة" class="btn btn-warning" data-dismiss="modal">إغلاق</button>
        </div>
        @* Submit From end *@
    </div>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
