@model ArchiveProject2019.Models.DocumentDepartment
@using ArchiveProject2019.HelperClasses
@{
    ViewBag.Title = "تفاصيل اسناد الوثيقة للقسم";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @DepartmentListDisplay.CreateDepartmentDisplay(Model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableEdit)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableReplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableReplay)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableRelate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableRelate)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSeal)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.FullName)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>






    </dl>

  

        <div class="modal-footer justify-content-center" style="margin-top:50px">

            <button title="إغلاق النافذة" type="button" class="btn btn-warning" data-dismiss="modal">إغلاق</button>
        </div>


</div>
