@model ArchiveProject2019.ViewModel.DocumentFieldsValuesViewModel
@using ArchiveProject2019.Models
@{
    ViewBag.Title = "تفاصيل الوثيقة";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();

}
<style>
    td, dd {
        margin: 20px;
    }
</style>


@Html.Partial("_StartView")
<a href="@Url.Action("index", "Document")" class="btn btn-default">عودة لقائمةالوثائق  <i class="glyphicon glyphicon-backward"></i></a>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document.FormId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Form.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.Kind.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Kind.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.TypeMail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.TypeMail.Name)
        </dd>

        @if (Model.Document.TypeMailId == 1)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Document.MailingNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Document.MailingNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Document.MailingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Document.MailingDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Document.Party.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Document.Party.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Document.DocumentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.DocumentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.CreatedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document.CreatedBy.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.FileUrl)
        </dt>
        <dd>
            @{
                var urls = Model.Document.FileUrl.Split(new string[] { "_##_" }, StringSplitOptions.None);
                var names = Model.Document.Name.Split(new string[] { "_##_" }, StringSplitOptions.None);

                for (int i = 0; i < urls.Length; i++)
                {
                    <label style="margin-top: 30px;">@names[i]</label>
                    <div>
                        @Html.ActionLink(" فتح الملف", "ShowPdf", "Documents", new { fileName = urls[i] }, new { @class = "glyphicon glyphicon-open btn btn-primary" }) |
                        @Html.ActionLink(" تنزيل الملف", "Download", "Documents", new { fileName = urls[i] }, new { @class = "glyphicon glyphicon-download btn btn-success" })
                    </div>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document.Notes)
        </dt>

        <dd style="overflow:auto;border:2px solid #ef7979;padding:10px">
            @Html.Raw(Model.Document.Notes)
        </dd>


        @foreach (var value in Model.Values)
        {
            <dt>
                @value.Field.Name
            </dt>
            <dd>
                @if (!value.Field.Type.Equals("file"))
                {
                    @value.FieldValue
                }
                else
                {
                    <button>Here for show</button>
                    <button>Here for Download</button>
                }
            </dd>

        }
    </dl>
</div>

@Html.Partial("_LastView")