@model IEnumerable<ArchiveProject2019.Models.Document>
@using ArchiveProject2019.HelperClasses
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "وثائقي";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    string CurrentUserId = this.User.Identity.GetUserId();

}

@if (ViewBag.Msg != null)
{


    if (ViewBag.Msg == "CreateError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
         
            لم يتم ربط أي وثيقة
        </div>
    }


    if (ViewBag.Msg == "CreateSuccess")
    {
        <div class="alert alert-info enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية الربط بنجاح
        </div>
    }



   



}
@Html.Partial("_StartView")




<p>
    <a href="@Url.Action("Index","Documents")" class="btn btn-warning">عودة لقائمة الوثائق الرئيسية</a>

</p>
<table id="form" class="table table-striped  table-hover dt" style="text-align:center;font-size:12px">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DocumentDate)
            </th>
            <th>
                @Html.DisplayName("العمليات المتاحة")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => item.DocumentNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DocumentDate)
                </td>
                <td>


                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الوثائق المرتبطة
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            @if (DocumentOperation.DocumentCanRelate(CurrentUserId, item.Id))
                            {

                                <li>

                                    <a href="#" data-form-id="@item.Id" title="ربط وثيقة" class="btn-link js-relate btn-sm">ربط وثيقة جديدة</a>

                                </li>

                                <li>

                                    <a href="@Url.Action("Relate", "Documents", new { id = item.Id })" title="ربط وثائق" class="btn-link  btn-sm">ربط مع وثائق</a>

                                </li>

                            }


                            @if (DocumentOperation.DocumentCanSeal(CurrentUserId, item.Id))
                            {

                                <li>

                                    <a href="@Url.Action("Create", "Seals", new { id = item.Id })" title="تسديد" class="btn-link  btn-sm">تسديد</a>

                                </li>
                            }
                            <li>

                                <a href="@Url.Action("Index","Seals",new { id=item.Id})" title="عرض تسديدات الوثيقة" class="btn-link  btn-sm">تسديدات الوثيقة</a>

                            </li>

                            @if (DocumentOperation.DocumentCanReplay(CurrentUserId, item.Id))
                            {

                                <li>

                                    <a href="#" data-form-id="@item.Id" title="رد وثيقة" class="btn-link js-replay btn-sm">رد وثيقة</a>

                                </li>

                            }
                            <li>

                                <a href="@Url.Action("GetRelatedDocument","Documents",new { id=item.Id})" title="عرض الوثائق المرتبطة" class="btn-link  btn-sm">عرض الوثائق المرتبطة</a>

                            </li>
                            <li>

                                <a href="@Url.Action("GetReplayDocument","Documents",new { id=item.Id})" title="عرض الرد" class="btn-link  btn-sm">عرض الوثائق الرد</a>

                            </li>




                        </ul>
                    </div>


                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            خيارات إضافية
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">


                            @if (DocumentOperation.DocumentCanEdit(CurrentUserId, item.Id))
                            {
                                <li>

                                    <a href="@Url.Action("Edit","Documents",new { id=item.Id})" title="تعديل الوثيقة" class="btn-link  btn-xs">تعديل الوثيقة</a>

                                </li>
                            }



                            <li>

                                <a href="@Url.Action("Details","Documents",new { id=item.Id})" title="تفاصيل الوثيقة" class="btn-link js-Details  btn-xs">تفاصيل الوثيقة</a>

                            </li>


                            @if (DocumentOperation.DocumentCanEdit(CurrentUserId, item.Id))
                            {
                                <li>

                                    <a href="@Url.Action("Create", "DocumentDepartments", new { id = item.Id })" title="إضافة الاقسام للوثيقة" class="btn-link btn-sm">إضافة اقسام للوثيقة</a>

                                </li>

                            }
                            <li>

                                <a href="@Url.Action("Index","DocumentDepartments",new { id=item.Id})" title="الاقسام الخاصة بالوثيقة" class="btn-link  btn-sm"> الأقسام الخاصة بالوثيقة </a>

                            </li>

                            @if (DocumentOperation.DocumentCanEdit(CurrentUserId, item.Id))
                            {
                                <li>

                                    <a href="@Url.Action("Create", "DocumentGroups", new { id = item.Id })" title="إضافة المجموعات للوثيقة" class="btn-link btn-sm">إضافة مجموعات للوثيقة</a>

                                </li>
                            }

                            <li>

                                <a href="@Url.Action("Index","DocumentGroups",new { id=item.Id})" title="المجموعات الخاصة بالوثيقة" class="btn-link  btn-sm"> المجموعات الخاصة بالوثيقة </a>

                            </li>


                            @if (DocumentOperation.DocumentCanEdit(CurrentUserId, item.Id))
                            {
                                <li>

                                    <a href="@Url.Action("Create", "DocumentUsers", new { id = item.Id })" title="إضافة المجموعات للوثيقة" class="btn-link btn-sm">إضافة عناصر للوثيقة</a>

                                </li>
                            }

                            <li>

                                <a href="@Url.Action("Index","DocumentUsers",new { id=item.Id})" title="المجموعات الخاصة بالوثيقة" class="btn-link  btn-sm"> العناصر الخاصة بالوثيقة </a>


                            </li>


                            @if (item.TypeMail.Type == 2)
                            {
                                if (DocumentOperation.DocumentCanEdit(CurrentUserId, item.Id))
                                {

                                    <li>
                                        <a href="@Url.Action("Create", "DocumentParties", new { id = item.Id })" title="إضافة جهات مستهدفة" class="btn-link btn-sm">إضافة جهات مستهدفة</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("Index","DocumentParties",new { id=item.Id})" title="الجهات المستهدفة" class="btn-link  btn-sm"> الجهات المستهدفة </a>
                                </li>
                            }
                        </ul>
                    </div>


                </td>
            </tr>
        }



    </tbody>


</table>


@Html.Partial("_LastView")


<div class="modal fade" tabindex="-1" id="NewModal"
     data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="changeText" class="modal-title"></h4>
            </div>
            <div class="modal-body" id="partialPlaceHolder" style="margin-top:30px">

            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $("#btnNewModel").on("click", function () {

        $("#changeText").text("إختيار نموذج معين");
        var url = '@Url.Action("form", "Documents")'

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });
    });

    $("#form").on("click", ".js-relate", function () {

        $("#changeText").text(" إختيار نموذج معين");

        var url = '@Url.Action("RelateDocument", "Documents")'
        url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });
    });

    $("#form").on("click", ".js-replay", function () {

        $("#changeText").text(" إختيار نموذج معين");

        var url = '@Url.Action("ReplayDocument", "Documents")'
        url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });
    });

    $("#form").on("click", ".js-release", function () {
        $.ajax({
            type: "POST",
            url: "/Documents/Release",
            contentType: "application/json; charset=utf-8",
            data: '{"id":"' + $(this).attr("data-form-id") + '","id2":"' + $(this).attr("data-Related-id") + '"}',
            dataType: "html",
            success: function (result, status, xhr) {
                document.location.reload();
            },

        });
    });

    $("#form").on("click", ".js-releaseDocument", function () {
        $.ajax({
            type: "POST",
            url: "/Documents/ReleaseDocument",
            contentType: "application/json; charset=utf-8",
            data: '{"id":"' + $(this).attr("data-form-id") + '","id2":"' + $(this).attr("data-Related-id") + '"}',
            dataType: "html",
            success: function (result, status, xhr) {
                document.location.reload();
            },

        });
    });

    $("#btnRefreshModel").on("click", function () {
        window.location.replace('@Url.Action("Index","Documents",new { Id="none"})');
    });
</script>




