@model ArchiveProject2019.ViewModel.RelateDocumentsViewModel

@{
    ViewBag.Title = "الوثائق";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}


@Html.Partial("_StartView")

<a href="@Url.Action("index","Documents")" class="btn btn-default"> قائمة الوثائق  <i class="glyphicon glyphicon-backward"></i></a>


@using (Html.BeginForm("Relate", "Documents", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DocId)

<table id="form" class="table table-striped table-bordered table-hover dt" style="text-align:center">
    <thead>
        <tr>
            <th>
                النموذج
            </th>
            <th>
                القسم
            </th>

            <th>
                رقم الوثيقة
            </th>
            <th>
                الموضوع
            </th>
            <th>
                ربط؟
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.RelatedDocuments.Count; i++)
        {
            
            <tr>
                    @Html.HiddenFor(modelItem => Model.RelatedDocuments[i].Id)
                    @Html.HiddenFor(modelItem => Model.DocId)

                <td>
                    @Html.DisplayFor(modelItem => Model.RelatedDocuments[i].Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.RelatedDocuments[i].Department)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model.RelatedDocuments[i].Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.RelatedDocuments[i].Subject)
                </td>
                <td>
                   @Html.CheckBoxFor(model => Model.RelatedDocuments[i].IsRelated, new { @style = "height: 25px;width: 25px; " })
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="form-group">

    <input type="submit" value="ربط مع الوثيقة الحالية" class="btn btn-primary" />

</div>
        }
<div id="SearchResult"></div>

@Html.Partial("_LastView")




<div class="modal" tabindex="-1" id="NewModal" sdata-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="changeText" class="modal-title"></h4>
            </div>
            <div class="modal-body" id="partialPlaceHolder">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $("#btnNewModel").on("click", function () {

        $("#changeText").text("القائمة الفرعية- إختيار نموذج معين");
        var url = '@Url.Action("form", "Documents")'

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });
    });

    $("#form").on("click", ".js-relate", function () {

        $("#changeText").text("القائمة الفرعية- إختيار نموذج معين");

        var url = '@Url.Action("RelateDocument", "Documents")'
        url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });
    });

    $("#btnRefreshModel").on("click", function () {
        window.location.replace('@Url.Action("Index","Documents",new { Id="none"})');
    });
</script>

