@model IEnumerable<ArchiveProject2019.Models.Document>
@{
    ViewBag.Title = "بحث متعدد الخصائص";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

@Html.Partial("_StartView")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!--  Start Search Section  -->

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "SearchResult", InsertionMode = InsertionMode.Replace }))
{

    <div>
        <a href="@Url.Action("index","Documents")" class="btn btn-warning">  عودة إلى قائمة الوثائق </a>
    </div>

    <row>

        <!-- Search Document Number -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" placeholder="رقم الوثيقة"   name="DocNum"       id="DocNum">
        </div>
        
        
        <!-- Search Document Subject -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" placeholder="موضوع الوثيقة" name="DocSubject" id="DocSubject">
        </div>

        <!-- Search Document Kind -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <!--<input class="form-control" type="text" placeholder="نوع الوثيقة" name="DocKind" id="DocKind">-->
            @Html.DropDownList("DocKind", ViewBag.Kinds as SelectList,"اختر نوع الوثيقة",new { @class="form-control", @id = "DocKind" })
        </div>
        

        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            @Html.DropDownList("MailType", ViewBag.MailType as SelectList, "اختر نوع البريد", new { @class = "form-control", @id = "MailType" })
        </div>

        <!-- Search Document Party -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            @Html.DropDownList("DocParty", ViewBag.Parties as SelectList, "اختر جهة الوثيقة", new { @class = "form-control", @id = "DocParty" })
            <!--<input class="form-control" type="text" placeholder="جهة الوثيقة" name="DocParty" id="DocParty">-->
        </div>

        <!-- Search Document First Date -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" placeholder="من تاريخ الوثيقة" name="DocFirstDate" id="DocFirstDate">
        </div>

        <!-- Search Document End Date -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" placeholder="الى تاريخ الوثيقة" name="DocEndDate" id="DocEndDate">
        </div>
    </row>
    <row>
        <!-- Search Result Count -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0" style="margin-right: -10px;margin-left: 12px;">
            <select name="RetrievalCount" id="RetrievalCount" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <!-- Search Document Description -->
        <div class="col-md-12 md-form active-pink active-pink-2 mb-3 mt-0">
            <input class="form-control" type="text" placeholder="وصف الوثيقة" name="DocDescription" id="DocDescription">
        </div>

        <!-- Submit button -->
        <div class="col-md-3 md-form active-pink active-pink-2 mb-3 mt-0">
            <input type="submit" id="search_btn" value="بحث عن الوثيقة" class="btn btn-info" />
        </div>
    </row>
}
<!--  ./End Search Section  -->




<table class="table table-striped table-hover ">
    <thead class="just-first-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<table class="table table-striped table-hover ">
    <tbody id="SearchResult">

    </tbody>
</table>

    <div class="mybutton" id="more_data"></div>

@Html.Partial("_LastView")

    <style>
        .more_data {
            background: #fdd415;
            color: #012f5c;
            display: inline-block;
            padding: 16px 40px;
            background: #012f5c;
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 8px;
        }

        #RetrievalCount {
            margin-right: 15px;
        }
        
        .form-control {
            margin: 5px;
            height: 40px;
            border-radius: 0;
            width: 100%;
        }
    </style>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">

                $('#search_btn').click(function () {


                    $('.mybutton').html('<button type="button" id="more_data" class="more_data">المزيد من البيانات >></button>');
                });

                // Get Document Subject Value
                var DSSS = $('#DocSubject').val();
                // Get Document Number Value
                var DN = $('#DocNum').val();


                // Get Document Description Value
                var DD = $('#DocDescription').val();

                // Get Document First Date Value
                var DFD = $('#DocFirstDate').val();

                // Get Document End Date Value
                var DED = $('#DocEndDate').val();

                // Get Record Count Value
                var RecordCount = 0;

                // Get Document Kind Value
                var DK = $('#DocKind').val();
                $("#DocKind").on('change', function () {
                    DK = $(this).val();
                });

                // Get Document Party Value
                var DP = $('#DocParty').val();
                $("#DocParty").on('change', function () {
                    DP = $(this).val();
                });

                // Get Mail Type Value
                var DMT = $('#MailType').val();
                $("#MailType").on('change', function () {
                    DMT = $(this).val();
                });

                // Get Retrieval Count Value
                var RC = $('#RetrievalCount').val();
                $("#RetrievalCount").on('change', function () {
                    RC = $(this).val();
                });



                $("#more_data").on("click", function () {
                    $.ajax({
                        url: '/Documents/Search',
                        type: 'POST',
                        data: { RecordCount: RecordCount, RetrievalCount: RC, DocSubject: DSSS, DocNum: DN, DocKind: DK, DocParty: DP, MailType: DMT, DocDescription: DD, DocFirstDate: DFD, DocEndDate: DED },
                        //
                        success: function (data) {
                            $("#SearchResult").append(data);
                            RecordCount++;
                            $('.just-first-header').not(':first').css("visibility", "collapse");
                        }
                    });
                });
</script>


    }
