@model IEnumerable<ArchiveProject2019.Models.RoleViewModel>
@using ArchiveProject2019.Models

@using ArchiveProject2019.HelperClasses;
@{
    ViewBag.Title = "قائمةالأدوار";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

}

@if (ViewBag.Msg != null)
{




    if (ViewBag.Msg == "DeleteError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            العمليةغير متاحة  ، لا يمكن القيام بعمليةالحذف
        </div>
    }

    if (ViewBag.Msg == "CreateSuccess")
    {
        <div class="alert alert-info enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية الإضافة بنجاح
        </div>
    }


    if (ViewBag.Msg == "EditSuccess")
    {
        <div class="alert alert-success enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية تعديل البيانات بنجاح
        </div>
    }

    if (ViewBag.Msg == "EditError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            لا يمكن أن يكون الاسم مكرر، يجب إعادة الإدخال

        </div>
    }



    if (ViewBag.Msg == "EditError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            لا يمكن أن يكون الاسم مكرر، يجب إعادة الإدخال

        </div>
    }



    if (ViewBag.Msg == "CreateError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            لا يمكن أن يكون الاسم مكرر، يجب إعادة الإدخال

        </div>
    }



}
@Html.Partial("_StartView")

<p>
    <button id="btnNewModel" title="إضافة دور جديد" class="btn btn-primary">أضافة دور جديد</button>
    <button title="تحديث القائمة" id="btnRefreshModel" class="btn btn-default glyphicon glyphicon-refresh"></button>

</p>
<table id="form" class="table table-striped  table-hover dt" style="text-align:center">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)


            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>

           
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>


       



            <th>

                @Html.DisplayName("العمليات المتاحة")

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>


            <td>

                <button data-form-id="@item.Id" title="تفاصيل  الدور" class="js-Details  btn-xs btn-default "><span class="glyphicon glyphicon-book"></span></button>

                <button data-form-id="@item.Id" title="تعديل اسم الدور" class="js-Edit  btn-xs btn-success "><span class="glyphicon glyphicon-edit"></span></button>

                @if (CheckDelete.CheckRoleDelete(item.Id) == true)
                {
                    <button data-form-id="@item.Id" title=" حذف الدور المحدد " class="js-delete btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>

                }

                @Html.ActionLink("الصلاحيّات", "Index", new { controller = "PermissionRoles", Id = item.Id})


            </td>
        </tr>
        }
    </tbody>


</table>
@Html.Partial("_LastView")

@* Create Model Start *@
<div class="modal fade" tabindex="-1" id="NewModal"
     data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="changeText" class="modal-title"></h4>
            </div>
            <div class="modal-body" id="partialPlaceHolder" style="margin-top:30px">

            </div>
        </div>
    </div>
</div>
@* Create Model End *@



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#btnNewModel").on("click", function () {


        $("#changeText").text("إضافة دور جديد");
        var url = '@Url.Action("Create", "Roles")';

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });

    });

    $("#btnRefreshModel").on("click", function () {

        window.location.replace('@Url.Action("Index","Roles",new { Id="none"})');


    });




    $("#form").on("click", ".js-Edit", function () {

        $("#changeText").text(" تعديل دور معين");

        var url = '@Url.Action("Edit", "Roles")';
        url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });

    });



    
    $("#form").on("click", ".js-Details", function () {

        $("#changeText").text(" تفاصيل دور معين");

        var url = '@Url.Action("Details", "Roles")';
        url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });

    });



    $("#form").on("click", ".js-delete", function () {

        $("#changeText").text("حذف دور معين");

        var url = '@Url.Action("Delete", "Roles")';
        url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
        });

    });


</script>
