@model ArchiveProject2019.ViewModel.Informations
@{
    ViewBag.Title = "اللوحة الرئيسية";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

    <div class="row">


        <div class="" style="width:100%">


            @if (Model.IsMasterRole == true)
            {


            <div class="tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-sitemap"></i> @Html.DisplayNameFor(a => Model.AllDepartmentsCount)</span>
                    <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.AllDepartmentsCount)</div>

                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-codepen"></i> @Html.DisplayNameFor(a => Model.AllGroupsCount)</span>
                    <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.AllGroupsCount)</div>
                </div>
             
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> @Html.DisplayNameFor(a => Model.TotalUserCount)</span>
                    <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.TotalUserCount)</div>

                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa  fa-clone"></i> @Html.DisplayNameFor(a => Model.TotalFormsCount)</span>
                    <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.TotalFormsCount)</div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-newspaper-o"></i> @Html.DisplayNameFor(a => Model.TotalDocumentCount)</span>
                    <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.TotalDocumentCount)</div>
                </div>
            </div>
            }
            else
            {

                <div class="tile_count">
                    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-newspaper-o"></i> @Html.DisplayNameFor(a => Model.MyTotalDocument)</span>
                        <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.MyTotalDocument)</div>

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-codepen"></i> @Html.DisplayNameFor(a => Model.MyGroupsCount)</span>
                        <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.MyGroupsCount)</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-sitemap"></i> @Html.DisplayNameFor(a => Model.DepartmentsCount)</span>
                        <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.DepartmentsCount)</div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-newspaper-o"></i> @Html.DisplayNameFor(a => Model.LastMyDocumentCreate)</span>
                        <div style="text-align:center;font-size:20px" class="count green">@Html.DisplayFor(a => Model.LastMyDocumentCreate)</div>

                    </div>
              
                </div>
            }
        </div>





        @if (Model.IsMasterRole == false)
        {




            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-tasks"></i>
                            <b>


                               نماذجي المفضلة
                            </b>

                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="height:100%">


                        <div class="" style="overflow:auto;height:100%">

                            <table class="table  table-striped" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Html.DisplayNameFor(a => Model.FavoriteForm.FirstOrDefault().Name)</th>

                                      

                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int ii = 1;
                                    }
                                    @foreach (var v in Model.FavoriteForm)
                                    {
                                        <tr>
                                            <td>@ii</td>
                                            <td>@v.Name</td>
                                         

                                        </tr>
                                        ii++;
                                    }


                                </tbody>
                            </table>



                        </div>

                    </div>
                </div>
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-codepen"></i>
                            <b>


                                مجموعاتي
                            </b>

                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="height:100%">


                        <div class="" style="overflow:auto;height:100%">

                            <table class="table  table-striped" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Html.DisplayNameFor(a => Model.UserGroups.FirstOrDefault().Name)</th>

                                        <th>@Html.DisplayNameFor(a => Model.UserGroups.FirstOrDefault().UsersCount)</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var v in Model.UserGroups)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@v.Name</td>
                                            <td>@v.UsersCount</td>
                                        </tr>
                                        i++;
                                    }


                                </tbody>
                            </table>



                        </div>

                    </div>
                </div>
            </div>

        }


        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-user"></i>
                        <b>


                            المعلومات الشخصية
                        </b>

                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content jumbotron">



                    <h5>
                        <i class="fa fa-user"></i>
                        @Html.DisplayNameFor(a => Model.FullName):
                        @Html.DisplayFor(a => Model.FullName)
                    </h5>


                    <h5>
                        <i class="fa fa-slack"></i>
                        @Html.DisplayNameFor(a => Model.UserName):
                        @Html.DisplayFor(a => Model.UserName)
                    </h5>


                    <h5>
                        <i class="fa fa-envelope-o"></i>
                        @Html.DisplayNameFor(a => Model.Email):
                        @Html.DisplayFor(a => Model.Email)
                    </h5>


                    <h5>
                        <i class="fa fa-male"></i>
                        @Html.DisplayNameFor(a => Model.Gender):
                        @Html.DisplayFor(a => Model.Gender)
                    </h5>


                    <h5>
                        <i class="fa fa-clock-o"></i>
                        @Html.DisplayNameFor(a => Model.UserCreateAt):
                        @Html.DisplayFor(a => Model.UserCreateAt)
                    </h5>


                    <h5>
                        <i class="fa fa-clock-o"></i>
                        @Html.DisplayNameFor(a => Model.UserUpdate):
                        @Html.DisplayFor(a => Model.UserUpdate)
                    </h5>

                    <h5>
                        <i class="fa fa-users"></i>
                        @Html.DisplayNameFor(a => Model.RoleName):
                        @Html.DisplayFor(a => Model.RoleName)
                    </h5>

                    <h5>
                        <i class="fa fa-clock-o"></i>
                        @Html.DisplayNameFor(a => Model.DepartmentName):
                        @Html.DisplayFor(a => Model.DepartmentName)
                    </h5>




                </div>
            </div>
        </div>

        @* Company Info Start *@


        @if (Model.Company != null)
        {
            <div class="col-md-12">
            <div class="x_panel" >
                <div class="x_title">
                    <h2>
                        <i class=""></i>
                        <b>
                            معلومات الشركة
                        </b>

                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content jumbotron">

                    @if (Model.Company.Name != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.Name):
                                @Html.DisplayFor(a => Model.Company.Name)

                            </strong>
                        </h5>
                    }
                    @if (Model.Company.Address != null)
                    {
                        <h4 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.Address):
                                @Html.DisplayFor(a => Model.Company.Address)

                            </strong>
                        </h4>
                    }


                    @if (Model.Company.Mail != null)
                    {
                        <h4 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.Mail):
                                @Html.DisplayFor(a => Model.Company.Mail)

                            </strong>
                        </h4>
                    }

                    @if (Model.Company.PhoneNumber1 != null)
                    {
                        <h4 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.MobileNumber1):
                                @Html.DisplayFor(a => Model.Company.MobileNumber1)

                            </strong>
                        </h4>
                    }

                    @if (Model.Company.MobileNumber2 != null)
                    {
                        <h4 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.MobileNumber2):
                                @Html.DisplayFor(a => Model.Company.MobileNumber2)

                            </strong>
                        </h4>
                    }


                    @if (Model.Company.PhoneNumber1 != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.PhoneNumber1):
                                @Html.DisplayFor(a => Model.Company.PhoneNumber1)

                            </strong>
                        </h5>
                    }

                    @if (Model.Company.PhoneNumber2 != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.PhoneNumber2):
                                @Html.DisplayFor(a => Model.Company.PhoneNumber2)

                            </strong>
                        </h5>
                    }

                    @if (Model.Company.CompanyDate != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.CompanyDate):
                                @Html.DisplayFor(a => Model.Company.CompanyDate)

                            </strong>
                        </h5>
                    }

                    @if (Model.Company.CreatedAt != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.CreatedAt):
                                @Html.DisplayFor(a => Model.Company.CreatedAt)

                            </strong>
                        </h5>
                    }

                    @if (Model.Company.Description != null)
                    {
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.Description):
                                @Html.DisplayFor(a => Model.Company.Description)

                            </strong>
                        </h5>
                    }



                    @if (Model.Company.Logo != null)
                    {
                        <div>
                        <h5 style="padding: 10px;">
                            <strong>
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                @Html.DisplayNameFor(a => Model.Company.Logo):
                            </strong>




                        </h5>

                        @{
                            var base64 = Convert.ToBase64String(Model.Company.Logo);
                            var filesrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src='@filesrc' class="thumbnail" style="border-radius: 30px; width: 400px; height: 300px;">
                        }
                            </div>
                    }

                </div>
                          
                        </div>
                 
        </div>
        }
       




        @if (Model.IsMasterRole == true)
        {



        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-sitemap"></i>
                        <b>

                            الأقسام

                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-bars"></i>
                            @Html.DisplayNameFor(a => Model.MainDepartmentCount):
                            @Html.DisplayFor(a => Model.MainDepartmentCount)
                        </h5>
                        <br />
                        <h5>
                            <i class="fa fa-sitemap"></i>
                            @Html.DisplayNameFor(a => Model.AllDepartmentsCount):
                            @Html.DisplayFor(a => Model.AllDepartmentsCount)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastDateDepartmentCreate):
                            @Html.DisplayFor(a => Model.LastDateDepartmentCreate)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastDateDepartmentUpdate):
                            @Html.DisplayFor(a => Model.LastDateDepartmentUpdate)
                        </h5>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-codepen"></i>
                        <b>


                            المجموعات
                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-codepen"></i>
                            @Html.DisplayNameFor(a => Model.AllGroupsCount):
                            @Html.DisplayFor(a => Model.AllGroupsCount)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastGroupCreate):
                            @Html.DisplayFor(a => Model.LastGroupCreate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastGroupUpdate):
                            @Html.DisplayFor(a => Model.LastGroupUpdate)
                        </h5>
                        <br />

                        <h5>
                            <i class="fa fa-user"></i>
                            @Html.DisplayNameFor(a => Model.TotalUserInGroup):
                            @Html.DisplayFor(a => Model.TotalUserInGroup)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-flag"></i>
                            @Html.DisplayNameFor(a => Model.HightGroupUsers):
                            @Html.DisplayFor(a => Model.HightGroupUsers)
                        </h5>



                    </div>

                </div>
            </div>
        </div>





        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-user"></i>
                        <b>


                            المستخدمين
                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-user"></i>
                            @Html.DisplayNameFor(a => Model.TotalUserCount):
                            @Html.DisplayFor(a => Model.TotalUserCount)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastUserCreate):
                            @Html.DisplayFor(a => Model.LastUserCreate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastUserUpdate):
                            @Html.DisplayFor(a => Model.LastUserUpdate)
                        </h5>



                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_300">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-clone"></i>
                        <b>


                            النماذج
                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-clone"></i>
                            @Html.DisplayNameFor(a => Model.TotalFormsCount):
                            @Html.DisplayFor(a => Model.TotalFormsCount)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastFormCreate):
                            @Html.DisplayFor(a => Model.LastFormCreate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastFormUpdate):
                            @Html.DisplayFor(a => Model.LastFormUpdate)
                        </h5>
                        <br />



                        <h5>
                            <i class="fa fa-flag"></i>
                            @Html.DisplayNameFor(a => Model.HightFormUsing):
                            @Html.DisplayFor(a => Model.HightFormUsing)
                        </h5>



                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_300">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-file-pdf-o"></i>
                        <b>


                            أنواع الوثائق
                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-file-pdf-o"></i>
                            @Html.DisplayNameFor(a => Model.TotalDocumentKindCount):
                            @Html.DisplayFor(a => Model.TotalDocumentKindCount)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastDocumentKindCreate):
                            @Html.DisplayFor(a => Model.LastDocumentKindCreate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastDocumentKindUpdate):
                            @Html.DisplayFor(a => Model.LastDocumentKindUpdate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-flag"></i>
                            @Html.DisplayNameFor(a => Model.HightDocumentKindUsing):
                            @Html.DisplayFor(a => Model.HightDocumentKindUsing)
                        </h5>



                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_300">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-envelope-o"></i>
                        <b>


                            أنواع البريد
                        </b>

                    </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div>


                        <h5>
                            <i class="fa fa-envelope-o"></i>
                            @Html.DisplayNameFor(a => Model.TotalMailsCount):
                            @Html.DisplayFor(a => Model.TotalMailsCount)
                        </h5>


                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastMailsCreate):
                            @Html.DisplayFor(a => Model.LastMailsCreate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-clock-o"></i>
                            @Html.DisplayNameFor(a => Model.LastMailsUpdate):
                            @Html.DisplayFor(a => Model.LastMailsUpdate)
                        </h5>

                        <br />

                        <h5>
                            <i class="fa fa-flag"></i>
                            @Html.DisplayNameFor(a => Model.HightMailUsing):
                            @Html.DisplayFor(a => Model.HightMailUsing)
                        </h5>



                    </div>

                </div>
            </div>
        </div>
        }
    </div>

<style>


    .fixed_height_320{

        height:360px;
    }

    .fixed_height_300{

        height:330px;
    }
</style>