@model IEnumerable<ArchiveProject2019.Models.Notification>
@{
    /**/

    ViewBag.Title = "الإشعارات غير المقروءة";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}



@Html.Partial("_StartView")


@using (Html.BeginForm())
{

    <div id="NotId">

        <a href="@Url.Action("NonSeenNotifications")" id="btnRefreshModel" title="تحديث الصفحة" class="btn btn-default glyphicon glyphicon-refresh"></a>


        @if (Model.Count() > 0)
        {

            <input type="submit" value="تحديد الإشعارات المحددة كمقروء" class="btn btn-primary" />

            <a class="btn btn-warning" href="@Url.Action("ConvertAllToSeen")" title="جميع الإشعارات مقروءة">جعل جميع الإشعارات مقروءة</a>

            <br />

            foreach (var v in Model)
            {


                @Html.Hidden("Id", v.Id)
                <div style="opacity:0.8" class="alert alert-success  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <input style="width:20px;height:20px" type="checkbox" name="NotificationId" class="btn btn-default btn-xs" value="@v.Id" />
                    <strong><i>@(v.NotificationOwner.FullName + " في الوقت :" + v.CreatedAt)</i></strong>
                    <p style="font-size:16px;color:black">

                        @v.Message
                    </p>
                </div>


            }


        }
        else
        {
            <p style="text-align:center;padding:20px;">لا يوجد أي إشعارات غير مقروءة</p>
        }

    </div>

}
@Html.Partial("_LastView")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {


            $(".alert").mouseenter(function () {

                $(this).removeClass("alert-danger");
                $(this).addClass("alert-warning");
            });


            $(".alert").mouseleave(function () {

                $(this).removeClass("alert-warning");
                $(this).addClass("alert-success");
            });


        });
    </script>
}



