@model IEnumerable<ArchiveProject2019.Models.FormDepartment>
@using ArchiveProject2019.HelperClasses
@{
    ViewBag.Title = "الأقسام الخاصة بالنموذج";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}







@if (ViewBag.Msg != null)
{



    if (ViewBag.Msg == "CreateError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            لم يتم إضافة أي قسم للنموذج، يرجى تحديد أقسام

        </div>
    }



    if (ViewBag.Msg == "CreateSuccess")
    {
        <div class="alert alert-info enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية الإضافة بنجاح
        </div>
    }


    if (ViewBag.Msg == "EditSuccess")
    {
        <div class="alert alert-success enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية تعديل حالة التفعيل بنجاح
        </div>
    }

    if (ViewBag.Msg == "EditError")
    {
        <div class="alert alert-warning enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            لا يمكن أن يكون الاسم مكرر، يجب إعادة الإدخال

        </div>
    }


    if (ViewBag.Msg == "DeleteSuccess")
    {
        <div class="alert alert-danger enterRemove" style="text-align:center;font-size:larger">
            <span class="glyphicon glyphicon-bell">

            </span>
            تمت عملية إزالةالقسم من النموذج بنجاح


        </div>
    }



}
@Html.Partial("_StartView")

<p>
    <a title="عودة لقائمة النماذج" href="@Url.Action("index","Forms")" class="btn btn-warning">عودة لقائمةالنماذج  </a>

    <button id="btnRefreshModel" title="تحديث المحتوى" class="btn btn-default glyphicon glyphicon-refresh"></button>

</p>
<table id="form" class="table table-striped  table-hover dt" style="text-align:center">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Form.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Active)
            </th>




            <th>
                @Html.DisplayName("العمليات المتاحة")

            </th>
        </tr>

    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:right">
                    @DepartmentListDisplay.CreateDepartmentDisplay(item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Form.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Active)
                </td>



                <td>
                    <button data-form-id="@item.Id" title="تعديل التفعيل" class="js-active btn-xs btn-success"><span class="glyphicon glyphicon-check"></span></button>
                    <button data-form-id="@item.Id" title="إزالة القسم" class="js-delete btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                    <button data-form-id="@item.Id" title=" تفاصيل اسنادالقسم للنموذج" class="js-details btn-xs btn-default"><span class="glyphicon glyphicon-book"></span></button>

                </td>
            </tr>
        }
    </tbody>



</table>


@Html.Partial("_LastView")


@* Create Model Start *@
<div class="modal fade" tabindex="-1" id="NewModal"
     data-keyboard="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="changeText" class="modal-title">القائمة الفرعية</h4>
            </div>
            <div class="modal-body" id="partialPlaceHolder" style="margin-top:30px">

            </div>
        </div>
    </div>
</div>
@* Create Model End *@


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>




      $("#btnRefreshModel").on("click", function () {

                       window.location.replace('@Url.Action("Index", "FormDepartments", new { Id = Session["Form_Id"],msg="none" })');


                   });




    $("#form").on("click", ".js-active", function () {
        $("#changeText").text("تعديل حقل معين");

                       var url = '@Url.Action("Edit", "FormDepartments")';
                       url = url + '/' + $(this).attr("data-form-id");

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });

    $("#form").on("click", ".js-delete", function () {

        $("#changeText").text("إزالة قسم معين ");

                       var url = '@Url.Action("Delete", "FormDepartments")';
                       url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });


        $("#form").on("click", ".js-details", function () {

        $("#changeText").text(" تفاصيل اضافة القسم للنموذج");

                       var url = '@Url.Action("Details", "FormDepartments")';
                       url = url + '/' + $(this).attr("data-form-id") ;

        $("#partialPlaceHolder").load(url, function () {
            $('#NewModal').modal('show');
                       });

                   });






</script>

