@model ArchiveProject2019.Models.UserGroup

@{
    ViewBag.Title = "إزالة مستخدم من المجموعة";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h3>هل أنت متأكد من عملية الإزاله؟</h3>
<div>
    
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>



    

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>


    </dl>

    @using (Html.BeginForm("Delete","UsersGroups")) {
        @Html.AntiForgeryToken()







        <div class="modal-footer justify-content-center" style="margin-top:50px">
            <input type="submit" title=" ازالة المستخدم" value="ازالة المستخدم" class="btn btn-danger" />

            <button type="button" title="اغلاق النافذة" class="btn btn-warning" data-dismiss="modal">إغلاق</button>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
