@model IEnumerable<ArchiveProject2019.Models.Group>

@{
    ViewBag.Title = "اضافة المجموعات للنموذج";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}




@Html.Partial("_StartView")

@using (Html.BeginForm())
{


    <p>

        <a title="عودة لقائمة النماذج" href="@Url.Action("index","Forms")" class="btn btn-warning">عودة لقائمةالنماذج </a>
        
    </p>
    @Html.Hidden("FormIdValue", (int)ViewBag.FormIdValue)
    <table id="form" class="table table-striped  table-hover dt" style="text-align:center">


        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                    @Html.DisplayName("اختر المجموعة")
                    
                </th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <input style="width:20px;height:20px;opacity:0.5;vertical-align:middle;cursor:pointer" type="checkbox" name="Groups" value="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


    </table>

    <div class="form-group">
        <div style="display:inline-block">
            <label>

                <input style="width:20px;height:20px;opacity:0.5;vertical-align:middle;cursor:pointer" id="checkAll" type="checkbox">تحديدالكل/عدم تحديد

            </label>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="إضافة المجموعات للنموذج" />
        </div>
    </div>
}

@Html.Partial("_LastView")



@section Scripts {

    <script>


                $(document).ready(function () {


                    $("#checkAll").click(function () {

                        $("input[name='Groups']").prop("checked", this.checked);


                        $("input[name='Groups']").click(function () {


                            if ($("input[name='Groups']").length == $("input[name='Groups']:checked").length) {
                                $("#checkAll").prop("checked", "checked");
                            }
                            else {
                                $("#checkAll").removeAttr("checked");

                            }

                        });


                    });









                });

    </script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}