@model IEnumerable<ArchiveProject2019.Models.Party>

@{
    ViewBag.Title = "اضافة الجهات المستهدفة للوثيقة الصادرة";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}




@Html.Partial("_StartView")

@using (Html.BeginForm())
{
    <p>
        <a title="عودة لقائمة الوثائق" href="@Url.Action("index","Documents")" class="btn btn-warning">عودة لقائمة الوثائق </a>
        <div style="display:inline-block">
        </div>
    </p>
    @Html.Hidden("DocumentIdValue", (int)ViewBag.DocumentIdValue)
    <table id="form" class="table table-striped table-bordered table-hover dt" style="text-align:center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("اختر الجهة")
                </th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <input style="width:20px;height:20px;opacity:0.5;vertical-align:middle;cursor:pointer" type="checkbox" name="Parties" value="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


    </table>

    <div class="form-group">
        <label>

            <input style="width:20px;height:20px;opacity:0.5;vertical-align:middle;cursor:pointer" id="checkAll" type="checkbox"> تحديدالكل / عدم تحديد 

        </label>
        <div class="col-md-offset-2 col-md-10">
            <input title="إضافة الجهات المستهدفة" type="submit" class="btn btn-primary" value="إضافة الجهات المستهدفة" />

        </div>
    </div>
}

@Html.Partial("_LastView")



@section Scripts {

    <script>

        $(document).ready(function ()
        {
            $("#checkAll").click(function ()
            {
                $("input[name='Departments']").prop("checked", this.checked);

                $("input[name='Departments']").click(function ()
                {
                    if ($("input[name='Departments']").length == $("input[name='Departments']:checked").length)
                    {
                        $("#checkAll").prop("checked", "checked");
                    }
                    else
                    {
                        $("#checkAll").removeAttr("checked");
                    }
                });
            });
        });

    </script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}