@model IEnumerable<ArchiveProject2019.Models.UserGroup>
@using ArchiveProject2019.HelperClasses

@{
    ViewBag.Title = "مجموعات المستخدم";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}



@Html.Partial("_StartView")




<table id="form" class="table table-striped  table-hover dt" style="text-align:center">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>


            

            <th>
                @Html.DisplayNameFor(model => model.CreatedById)


            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                </td>




              
            </tr>


        }

    </tbody>

</table>



@Html.Partial("_LastView")
